@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

@font-face {
	font-family: "dana-regular";
	src: url(../fonts/dana/dana-fanum-regular.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "dana-bold";
	src: url(../fonts/dana/dana-fanum-bold.woff2) format("woff2");
	font-display: swap;
}

/*  */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* starting styles */
@layer base {
	.font-dana {
		font-family: "dana-regular";
	}

	.font-dana-bold {
		font-family: "dana-bold";
	}

	:root {
		--brand-primary-pink: rgb(235, 86, 142);
		--brand-primary-blue: rgb(20, 78, 227);
		--black: rgb(11, 16, 27);
		--gray: rgb(24, 30, 41);
		--lite: rgb(201, 206, 214);
		--lite-border: rgb(53, 60, 74);
		--white: rgb(255, 255, 255);
		--body-bg: rgb(21, 26, 36);
		--primary-linear: linear-gradient(to right, #144ee3, #eb568e, #a353aa, #144ee3);
		color-scheme: dark;
	}

	* {
		@apply p-0 m-0;
	}

	*,
	*::after,
	*::before {
		@apply box-border;
	}

	button,
	input {
		@apply block outline-none font-dana;
	}

	html {
		@apply scroll-pt-8 scroll-smooth;
	}

	body,
	html {
		direction: rtl;
		@apply text-[var(--lite)] font-dana;
	}

	body {
		background: url(/assests/figures/cubes.png) var(--body-bg) no-repeat fixed center;
		background-size: contain;
	}
}

@layer components {
	.primary-btn {
		@apply py-2 px-4 rounded-3xl bg-[var(--brand-primary-blue)] border border-transparent shadow-[0_14px_14px_rgba(20,78,227,20%)] cursor-pointer 
		relative text-lg text-white flex
		justify-center items-center gap-2 duration-200 ease-linear;

		ion-icon {
			@apply block;
		}
	}

	.primary-btn[rotate="true"] {
		ion-icon {
			@apply rotate-180;
		}
	}

	.primary-btn[icon="true"] {
		@apply w-12 h-12;
	}

	.primary-btn[rounded="true"] {
		@apply rounded-full;
	}

	.primary-btn[disabled="true"] {
		@apply bg-[rgb(20,78,227,50%)] border border-[rgb(20,78,227,50%)] pointer-events-none select-none;
	}

	.primary-btn[lite="true"] {
		background: var(--gray);
		border: 1px solid var(--lite-border);
		box-shadow: 0 14px 14px rgb(11, 16, 27, 20%);
	}

	.primary-btn[hover="true"] {
		&:hover {
			@apply shadow-none rounded-md opacity-90 translate-y-[-0.2rem];
		}
	}

	.primary-btn[loading="true"] {
		ul {
			@apply flex justify-center items-center gap-2;

			li {
				@apply bg-white w-1 h-1 rounded-full translate-y-0;
				animation: loading 0.5s linear infinite alternate;
				will-change: transform;
			}
			li + li {
				animation-delay: 0.4s;
			}
			li + li + li {
				animation-delay: 0.3s;
			}
		}
	}
	@keyframes loading {
		to {
			transform: translateY(6px);
		}
	}

	.gradient-text {
		@apply bg-clip-text text-transparent;
		background-image: var(--primary-linear);
	}

	#qrcode {
		img {
			@apply max-w-full w-full;
		}
	}

	.qr-btn:hover {
		animation: glitch 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
		will-change: transform, opacity, filter;
	}

	.glitch {
		animation: glitch 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
		will-change: transform, opacity, filter;
	}
	@keyframes glitch {
		0% {
			opacity: 0.8;
			filter: blur(1px) hue-rotate(120deg);
			transform: skewX(10deg);
		}

		50% {
			opacity: 0.2;
			filter: blur(2px) hue-rotate(180deg);
			transform: skewX(-10deg);
		}

		100% {
			opacity: 1;
			filter: blur(0) hue-rotate(0);
			transform: skewX(0);
		}
	}

	.fade-in {
		opacity: 0;
		animation: fade-in 0.3s ease-in-out forwards;
		will-change: opacity;
	}
	@keyframes fade-in {
		to {
			opacity: 1;
		}
	}

	.scanner {
		&::after {
			content: "";
			animation: scan 0.5s linear forwards infinite alternate;
			background: linear-gradient(0deg, rgba(0, 163, 206, 0) 70%, rgba(244, 63, 94, 0.8) 100%);
			@apply absolute inset-0 bottom-0 w-full h-full z-10;
			will-change: transform, opacity;
		}
	}
	@keyframes scan {
		from {
			transform: translateY(-10%);
			opacity: 0;
		}
		to {
			transform: translateY(110%);
			opacity: 1;
		}
	}
}
